#u2846-6
{
	font-family: cantarell-n4, sans-serif;
}

#u2940-4
{
	font-family: revalia-n4, sans-serif;
}

#u2969-2
{
	font-family: cantarell-n4, sans-serif;
}

#u2969-4
{
	font-family: revalia-n4, sans-serif;
}

