#u1345-6,#u2363-4
{
	font-family: cantarell-n4, sans-serif;
}

#u1391-4
{
	font-family: revalia-n4, sans-serif;
}

#u1675-4,#u2373-6,#u2377-6,#u2379-6,#u2382-4,#u2388-4,#u2390-6
{
	font-family: cantarell-n4, sans-serif;
}

