@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #C3C0C0;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 1270.450497512438px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 1px;
}

#page_position_content
{
	margin-top: -9px;
	margin-bottom: -165px;
}

#u1345-6
{
	z-index: 2;
	width: 272px;
	min-height: 53px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 103px;
}

#u2360-3
{
	z-index: 51;
	width: 77px;
	min-height: 46px;
	margin-right: -10000px;
	left: 298px;
}

#pamphletu1523
{
	z-index: 129;
	width: 0.01px;
	height: 72px;
	padding-bottom: 321px;
	margin-right: -10000px;
	margin-top: 9px;
}

#u1528popup
{
	z-index: 130;
}

#u1528
{
	width: 225px;
	top: 71px;
}

#u1529
{
	z-index: 131;
	width: 224px;
	height: 321px;
	margin-right: -10000px;
}

#u1529_position_content
{
	margin-top: 11px;
}

#u2362-4
{
	z-index: 181;
	width: 148px;
	min-height: 22px;
	margin-left: 38px;
}

#menuu1530
{
	z-index: 132;
	width: 190px;
	margin-left: 17px;
	margin-top: 8px;
}

#u1592
{
	width: 190px;
}

#u1593
{
	width: 190px;
	min-height: 19px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u1593:hover
{
	margin: 0px -10000px 0px 0px;
}

#u1593:active
{
	margin: 0px -10000px 0px 0px;
}

#u1595-4
{
	width: 190px;
	min-height: 19px;
	margin-right: -10000px;
	top: 4px;
}

#u1593:hover #u1595-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u1593:active #u1595-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u1546
{
	width: 190px;
	min-height: 19px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u1593.MuseMenuActive,#u1546:hover
{
	margin: 0px -10000px 0px 0px;
}

#u1546:active
{
	margin: 0px -10000px 0px 0px;
}

#u1548-4
{
	width: 190px;
	min-height: 19px;
	margin-right: -10000px;
	top: 4px;
}

#u1593.MuseMenuActive #u1595-4,#u1546:hover #u1548-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u1546:active #u1548-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u1567
{
	width: 190px;
	min-height: 19px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u1546.MuseMenuActive,#u1567:hover
{
	margin: 0px -10000px 0px 0px;
}

#u1567:active
{
	margin: 0px -10000px 0px 0px;
}

#u1569-4
{
	width: 190px;
	min-height: 19px;
	margin-right: -10000px;
	top: 4px;
}

#u1546.MuseMenuActive #u1548-4,#u1567:hover #u1569-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u1567:active #u1569-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u1579
{
	width: 190px;
	min-height: 19px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u1567.MuseMenuActive,#u1579:hover
{
	margin: 0px -10000px 0px 0px;
}

#u1579:active
{
	margin: 0px -10000px 0px 0px;
}

#u1580-4
{
	width: 190px;
	min-height: 19px;
	margin-right: -10000px;
	top: 4px;
}

#u1567.MuseMenuActive #u1569-4,#u1579:hover #u1580-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u1579:active #u1580-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u1572
{
	width: 190px;
	min-height: 19px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u1579.MuseMenuActive,#u1572:hover
{
	margin: 0px -10000px 0px 0px;
}

#u1572:active
{
	margin: 0px -10000px 0px 0px;
}

#u1573-4
{
	width: 190px;
	min-height: 19px;
	margin-right: -10000px;
	top: 4px;
}

#u1579.MuseMenuActive #u1580-4,#u1572:hover #u1573-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u1572:active #u1573-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u1553
{
	width: 190px;
	min-height: 19px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u1572.MuseMenuActive,#u1553:hover
{
	margin: 0px -10000px 0px 0px;
}

#u1553:active
{
	margin: 0px -10000px 0px 0px;
}

#u1556-4
{
	width: 190px;
	min-height: 19px;
	margin-right: -10000px;
	top: 4px;
}

#u1572.MuseMenuActive #u1573-4,#u1553:hover #u1556-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u1553:active #u1556-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u1586
{
	width: 190px;
	min-height: 19px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u1553.MuseMenuActive,#u1586:hover
{
	margin: 0px -10000px 0px 0px;
}

#u1586:active
{
	margin: 0px -10000px 0px 0px;
}

#u1589-4
{
	width: 190px;
	min-height: 19px;
	margin-right: -10000px;
	top: 4px;
}

#u1553.MuseMenuActive #u1556-4,#u1586:hover #u1589-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u1586:active #u1589-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u1543,#u1564,#u1578,#u1571,#u1550,#u1585,#u1557
{
	width: 190px;
	margin-top: 2px;
}

#u1558
{
	width: 190px;
	min-height: 19px;
	padding-bottom: 10px;
	margin-right: -10000px;
}

#u1586.MuseMenuActive,#u1558:hover
{
	margin: 0px -10000px 0px 0px;
}

#u1558:active
{
	margin: 0px -10000px 0px 0px;
}

#u1558.MuseMenuActive
{
	margin: 0px -10000px 0px 0px;
}

#u1561-4
{
	width: 190px;
	min-height: 19px;
	margin-right: -10000px;
	top: 5px;
}

#u1586.MuseMenuActive #u1589-4,#u1558:hover #u1561-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u1558:active #u1561-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u1558.MuseMenuActive #u1561-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u2366
{
	z-index: 185;
	width: 224px;
	margin-top: 12px;
}

#u2365
{
	z-index: 186;
	width: 224px;
	padding-bottom: 3px;
	margin-right: -10000px;
}

#u2363-4
{
	z-index: 187;
	width: 187px;
	min-height: 21px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 18px;
}

#u1599
{
	z-index: 191;
	width: 71px;
	margin-right: -10000px;
}

#u1600
{
	width: 71px;
	height: 71px;
}

#u1600:hover
{
	margin: 0px;
}

#u1600.PamphletThumbSelected
{
	margin: 0px;
}

#home
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 9px;
}

#u1396
{
	z-index: 55;
	width: 371px;
	height: 153px;
	border-color: #000000;
	margin-left: 4px;
	top: -322px;
	margin-bottom: -153px;
	position: relative;
	background: #057C05 url("../../images/1393437846-u1396-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#pu1409
{
	width: 0.01px;
	margin-left: 4px;
	top: -169px;
	margin-bottom: -87px;
	position: relative;
}

#u1409
{
	z-index: 56;
	width: 187px;
	position: relative;
	margin-right: -10000px;
}

#u1413
{
	z-index: 57;
	width: 187px;
	border-color: #000000;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	background: #2A2929 url("../../images/outline-islamic-pattern-vector.jpg") no-repeat left top;
	background-size: cover !important;
}

#u1410
{
	z-index: 58;
	width: 171px;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
}

#u1411
{
	z-index: 59;
	width: 171px;
	border-color: #000000;
	background-color: #494949;
	background-color: rgba(0, 0, 0, 0.71);
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(0, 0, 0, 0.71);
}

#u1411:hover
{
	background-color: #A4A4A4;
	background-color: rgba(127, 127, 127, 0.71);
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(127, 127, 127, 0.71);
}

#u1412-4
{
	z-index: 60;
	width: 156px;
	min-height: 28px;
	text-align: right;
	color: #FFFFFF;
	font-size: 23px;
	line-height: 28px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 7px;
}

#u1415
{
	z-index: 64;
	width: 184px;
	position: relative;
	margin-right: -10000px;
	left: 186px;
}

#u1419
{
	z-index: 65;
	width: 184px;
	border-color: #000000;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	background: #2A2929 url("../../images/audio-1844798_1280.jpg") no-repeat center bottom;
	background-size: cover !important;
}

#u1416
{
	z-index: 66;
	width: 152px;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
}

#u1418
{
	z-index: 67;
	width: 152px;
	border-color: #000000;
	background-color: #494949;
	background-color: rgba(0, 0, 0, 0.71);
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(0, 0, 0, 0.71);
}

#u1418:hover
{
	background-color: #A4A4A4;
	background-color: rgba(127, 127, 127, 0.71);
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(127, 127, 127, 0.71);
}

#u1417-4
{
	z-index: 68;
	width: 139px;
	min-height: 28px;
	text-align: right;
	color: #FFFFFF;
	font-size: 23px;
	line-height: 28px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 6px;
}

#pu2787
{
	width: 0.01px;
	top: -80px;
	margin-bottom: -80px;
	position: relative;
}

#u2787
{
	z-index: 54;
	width: 340px;
	min-height: 82px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-family: cantarell, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 20px;
}

#u1425
{
	z-index: 72;
	width: 380px;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
}

#u1398
{
	z-index: 73;
	width: 380px;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 50px;
	position: relative;
	margin-right: -10000px;
}

#u1414-17
{
	z-index: 74;
	width: 379px;
	min-height: 25px;
	text-align: center;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
}

#u1414-2
{
	font-size: 30px;
	line-height: 36px;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
	color: #000000;
}

#u1414-4
{
	font-size: 17px;
	line-height: 20px;
	color: #000000;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	padding: 5px 5px 10px;
}

#u1414-6,#u1414-8,#u1414-10,#u1414-12,#u1414-13,#u1414-15
{
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
	color: #2F2F2F;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u1414-3,#u1414-5,#u1414-7,#u1414-9,#u1414-11,#u1414-14
{
	font-weight: normal;
}

#u1428
{
	z-index: 91;
	width: 380px;
	position: relative;
	margin-right: -10000px;
	margin-top: 572px;
}

#u1424
{
	z-index: 92;
	width: 380px;
	position: relative;
	margin-right: -10000px;
}

#u1397
{
	z-index: 93;
	width: 331px;
	border-color: #000000;
	background-color: #057C05;
	position: relative;
	margin-right: -10000px;
	padding: 49px 26px 48px 23px;
}

#pu1407
{
	width: 0.01px;
	margin-left: 1px;
	position: relative;
}

#u1407
{
	z-index: 94;
	width: 54px;
	position: relative;
	margin-right: -10000px;
}

#u1401-4
{
	z-index: 96;
	width: 176px;
	line-height: 29px;
	color: #FFFFFF;
	font-size: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 108px;
}

#pu1405
{
	width: 0.01px;
	margin-top: 38px;
	position: relative;
}

#u1405
{
	z-index: 100;
	width: 55px;
	position: relative;
	margin-right: -10000px;
}

#u1402-6
{
	z-index: 102;
	width: 196px;
	text-align: center;
	line-height: 20px;
	font-size: 17px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 99px;
}

#pu1403
{
	width: 0.01px;
	margin-top: 17px;
	position: relative;
}

#u1403
{
	z-index: 108;
	width: 59px;
	position: relative;
	margin-right: -10000px;
}

#u1400-4
{
	z-index: 110;
	width: 263px;
	line-height: 20px;
	color: #FFFFFF;
	font-size: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 68px;
}

#u1426-4
{
	z-index: 114;
	width: 331px;
	min-height: 36px;
	text-align: center;
	font-size: 24px;
	color: #FFFFFF;
	line-height: 29px;
	font-family: karla, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 24px;
}

#u2423
{
	z-index: 118;
	width: 162px;
	position: relative;
	margin-right: -10000px;
	margin-top: 856px;
	left: 198px;
}

#u2420
{
	z-index: 119;
	width: 162px;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u2420:hover
{
	background-color: #E4E4E4;
	margin: 0px -10000px 0px 0px;
}

#u2422-4
{
	z-index: 124;
	width: 109px;
	min-height: 18px;
	line-height: 19px;
	font-size: 16px;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 39px;
}

#u2421-4
{
	z-index: 120;
	width: 21px;
	min-height: 18px;
	line-height: 20px;
	font-size: 17px;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	font-weight: bold;
	-webkit-transform: matrix(0,1,-1,0,21,0);
	-ms-transform: matrix(0,1,-1,0,21,0);
	-o-transform: matrix(0,1,-1,0,21,0);
	transform: matrix(0,1,-1,0,21,0);
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 14px;
}

#contactus
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 532px;
}

#u1709
{
	z-index: 12;
	width: 380px;
	top: -1px;
	margin-bottom: -1px;
}

#u1267
{
	z-index: 13;
	width: 380px;
	margin-right: -10000px;
	margin-top: 1px;
}

#u1268
{
	z-index: 14;
	width: 380px;
	height: 207px;
	margin-right: -10000px;
}

#u1264-13
{
	z-index: 15;
	width: 380px;
	min-height: 63px;
	margin-right: -10000px;
	margin-top: 102px;
}

#u1342
{
	z-index: 28;
	width: 380px;
	margin-right: -10000px;
}

#u1343
{
	z-index: 29;
	width: 380px;
	height: 34px;
	margin-right: -10000px;
}

#u1344-4
{
	z-index: 30;
	width: 358px;
	min-height: 28px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 11px;
}

#u1708
{
	z-index: 34;
	width: 367px;
	margin-right: -10000px;
	margin-top: 38px;
	left: 9px;
}

#pu1345-6,#pu1266-4
{
	width: 0.01px;
	position: relative;
}

#u1266-4
{
	z-index: 35;
	width: 124px;
	min-height: 16px;
	margin-right: -10000px;
	left: 243px;
}

#u1266-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 0px -10000px 0px 0px;
}

#u1270-4
{
	z-index: 39;
	width: 124px;
	min-height: 16px;
	margin-right: -10000px;
	left: 119px;
}

#u1266-4.MuseLinkActive,#u1270-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 0px -10000px 0px 0px;
}

#u1707-4
{
	z-index: 47;
	width: 124px;
	min-height: 16px;
	margin-right: -10000px;
}

#u1270-4.MuseLinkActive,#u1707-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 0px -10000px 0px 0px;
}

#u1707-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 0px -10000px 0px 0px;
}

#u1271-4
{
	z-index: 43;
	width: 218px;
	min-height: 16px;
	margin-left: 72px;
	margin-top: 11px;
}

#u1271-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 11px 0px 0px 72px;
}

#u1271-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 11px 0px 0px 72px;
}

#u1391-4
{
	z-index: 8;
	width: 221px;
	min-height: 19px;
	margin-left: 155px;
	margin-top: 4px;
}

body
{
	padding-bottom: 169px;
}

#page .verticalspacer
{
	clear: both;
}

