#u1671
{
	border-color: #000000;
	background-color: #3C3C3C;
	position: relative;
}

#u1670,#u2425
{
	position: relative;
}

#u2427
{
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
}

#u2427:hover
{
	background-color: #44A044;
}

#u2427.MuseLinkActive
{
	background-color: #007C00;
}

#u2426-5
{
	text-align: center;
	font-size: 15px;
	color: #057C05;
	line-height: 18px;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	font-weight: bold;
	position: relative;
}

#u2426-2
{
	font-weight: normal;
}

