@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 645.3677839520866px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 1px;
}

#page_position_content
{
	margin-bottom: 1px;
}

#pamphletu2953
{
	z-index: 31;
	width: 0.01px;
	height: 72px;
	padding-bottom: 321px;
	margin-left: 2px;
	position: relative;
}

#u2965
{
	position: absolute;
	width: 225px;
	top: 71px;
}

#u2965popup
{
	z-index: 32;
}

#u2966
{
	z-index: 33;
	width: 224px;
	height: 310px;
	border-style: solid;
	border-color: #1F1F1F;
	background-color: #FDFDFD;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	padding-top: 11px;
	margin-right: -10000px;
	position: relative;
	border-width: 0px 1px 1px 0px;
}

#u2971-4
{
	z-index: 34;
	width: 148px;
	min-height: 22px;
	text-align: center;
	font-size: 18px;
	letter-spacing: 3px;
	line-height: 22px;
	color: #057C05;
	font-weight: bold;
	margin-left: 38px;
	position: relative;
}

#u2970-7
{
	z-index: 46;
	width: 206px;
	min-height: 210px;
	border-color: #000000;
	background-color: #FFFFFF;
	text-align: center;
	margin-left: 9px;
	margin-top: 11px;
	position: relative;
}

#u2970-2
{
	font-size: 21px;
	line-height: 25px;
}

#u2967
{
	z-index: 38;
	width: 224px;
	margin-top: 10px;
	position: relative;
}

#u2968
{
	z-index: 39;
	width: 224px;
	border-color: #000000;
	background-color: #232323;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}

#u2969-6
{
	z-index: 40;
	width: 187px;
	min-height: 42px;
	text-align: center;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 18px;
}

#u2969-2
{
	color: #FFFFFF;
	font-family: cantarell, sans-serif;
}

#u2969-4
{
	font-size: 10px;
	line-height: 12px;
	color: #E2E2E2;
	font-family: revalia, sans-serif;
}

#u2956
{
	z-index: 53;
	width: 71px;
	position: relative;
	margin-right: -10000px;
}

#u2957
{
	position: absolute;
	width: 71px;
	height: 71px;
	border-color: #999999;
	background: transparent url("../../images/menu-icon-u2957-fr.png") no-repeat left top;
	background-size: cover !important;
}

#u2957:hover
{
	background-repeat: no-repeat;
	background-position: left top;
	border-color: #6B6B6B;
	margin: 0px;
	background-size: cover !important;
}

#u2957.PamphletThumbSelected
{
	background-repeat: no-repeat;
	background-position: center center;
	border-color: #6B6B6B;
	background-color: transparent;
	margin: 0px;
	background-size: cover !important;
}

.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u2846-6
{
	z-index: 2;
	width: 272px;
	min-height: 53px;
	margin-left: 108px;
	top: -374px;
	margin-bottom: -53px;
}

#pu2974
{
	width: 0.01px;
	top: -322px;
	margin-bottom: -38px;
	position: relative;
}

#u2974
{
	z-index: 29;
	width: 380px;
	position: relative;
	margin-right: -10000px;
}

#u2975
{
	z-index: 30;
	width: 380px;
	height: 38px;
	border-color: #000000;
	background-color: #3C3C3C;
	position: relative;
	margin-right: -10000px;
}

#u2976
{
	z-index: 55;
	width: 96px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 277px;
}

#u2978
{
	z-index: 56;
	width: 96px;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
}

#u2978:hover
{
	background-color: #44A044;
	margin: 0px -10000px 0px 0px;
}

#u2978.MuseLinkActive
{
	background-color: #007C00;
	margin: 0px -10000px 0px 0px;
}

#u2977-5
{
	z-index: 57;
	width: 75px;
	min-height: 6px;
	text-align: center;
	font-size: 15px;
	line-height: 18px;
	color: #057C05;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 11px;
}

#u2977-2
{
	font-weight: normal;
}

#u2779
{
	z-index: 28;
	width: 370px;
	min-height: 635px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	margin-left: 7px;
	top: -279px;
	margin-bottom: -279px;
	position: relative;
}

#u2941
{
	z-index: 12;
	width: 380px;
}

#u2950
{
	z-index: 13;
	width: 380px;
	margin-right: -10000px;
}

#u2951
{
	z-index: 14;
	width: 380px;
	height: 125px;
	margin-right: -10000px;
}

#u2952-13
{
	z-index: 15;
	width: 380px;
	min-height: 63px;
	margin-right: -10000px;
	margin-top: 13px;
}

#u2940-4
{
	z-index: 8;
	width: 221px;
	min-height: 19px;
	margin-left: 155px;
}

#page .verticalspacer
{
	clear: both;
}

