.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 994px;
	min-height: 3363.574830590513px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -199px;
}

#pu2604
{
	width: 0.01px;
	padding-bottom: 614px;
	position: relative;
}

#u2604
{
	z-index: 127;
	width: 109px;
	top: 187px;
	left: 50%;
	margin-left: -482px;
}

#u2521
{
	z-index: 128;
	width: 246px;
	top: 458px;
	left: 50%;
	margin-left: -497px;
}

#u2522
{
	z-index: 129;
	width: 245px;
	padding-bottom: 614px;
	top: 0px;
	left: 50%;
	margin-left: -497px;
}

#u2590
{
	z-index: 130;
	width: 245px;
	padding-bottom: 614px;
	top: 0px;
	left: 50%;
	margin-left: -497px;
}

#u2523
{
	z-index: 131;
	width: 248px;
	padding-bottom: 567px;
	top: 47px;
	left: 50%;
	margin-left: -497px;
}

#u2524
{
	z-index: 132;
	width: 246px;
	height: 137px;
	top: 477px;
	left: 50%;
	margin-left: -497px;
}

#u2525
{
	z-index: 133;
	width: 235px;
	top: 47px;
	left: 50%;
	margin-left: -484px;
}

#u2525_position_content
{
	margin-top: -18px;
	margin-bottom: 555px;
}

#u2526-8
{
	z-index: 134;
	width: 235px;
	min-height: 96px;
	top: 47px;
	left: 50%;
	margin-left: -484px;
}

#menuu2528
{
	z-index: 153;
	width: 218px;
	top: 218px;
	left: 50%;
	margin-left: -482px;
}

#u2569
{
	width: 218px;
}

#u2572
{
	width: 218px;
	min-height: 20px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u2572:hover
{
	margin: 0px -10000px 0px 0px;
}

#u2532
{
	width: 218px;
	min-height: 20px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u2572.MuseMenuActive,#u2532:hover
{
	margin: 0px -10000px 0px 0px;
}

#u2577
{
	width: 218px;
	min-height: 20px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u2532.MuseMenuActive,#u2577:hover
{
	margin: 0px -10000px 0px 0px;
}

#u2539
{
	width: 218px;
	min-height: 20px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u2577.MuseMenuActive,#u2539:hover
{
	margin: 0px -10000px 0px 0px;
}

#u2563
{
	width: 218px;
	min-height: 20px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u2539.MuseMenuActive,#u2563:hover
{
	margin: 0px -10000px 0px 0px;
}

#u2575-4,#u2533-4,#u2580-4,#u2540-4,#u2566-4
{
	width: 218px;
	min-height: 20px;
	margin-right: -10000px;
	top: 5px;
}

#u2586
{
	width: 218px;
	min-height: 20px;
	padding-bottom: 12px;
	margin-right: -10000px;
}

#u2563.MuseMenuActive,#u2586:hover
{
	margin: 0px -10000px 0px 0px;
}

#u2529,#u2576,#u2536,#u2562,#u2583,#u2543
{
	width: 218px;
	margin-top: 2px;
}

#u2544
{
	width: 218px;
	min-height: 20px;
	padding-bottom: 12px;
	margin-right: -10000px;
}

#u2586.MuseMenuActive,#u2544:hover
{
	margin: 0px -10000px 0px 0px;
}

#u2587-4,#u2547-4
{
	width: 218px;
	min-height: 20px;
	margin-right: -10000px;
	top: 6px;
}

#u2527-11
{
	z-index: 142;
	width: 228px;
	min-height: 78px;
	top: 506px;
	left: 50%;
	margin-left: -479px;
}

#u2591
{
	z-index: 196;
	width: 246px;
	margin-right: -10000px;
}

#u2593
{
	z-index: 197;
	width: 246px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u2592-4
{
	z-index: 198;
	width: 228px;
	min-height: 19px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 9px;
}

#u2603
{
	z-index: 202;
	width: 109px;
	margin-right: -10000px;
}

#u2601
{
	z-index: 203;
	width: 109px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u2544.MuseMenuActive,#u2601:hover
{
	margin: 0px -10000px 0px 0px;
}

#u2601:active
{
	margin: 0px -10000px 0px 0px;
}

#u2602-4
{
	z-index: 204;
	width: 87px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 11px;
}

#u2735
{
	z-index: 208;
	width: 716px;
	padding-bottom: 66px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -224px;
}

#u2638
{
	z-index: 209;
	width: 716px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -224px;
}

#u2637
{
	z-index: 210;
	width: 716px;
	border-style: none;
	border-color: transparent;
	background-color: #007C00;
	padding-bottom: 66px;
	position: relative;
	margin-right: -10000px;
}

#u2615-4
{
	z-index: 211;
	width: 607px;
	min-height: 46px;
	font-size: 30px;
	color: #FFFFFF;
	line-height: 36px;
	font-family: cantarell, sans-serif;
	font-weight: 700;
	position: fixed;
	top: 19px;
	left: 50%;
	margin-left: -215px;
}

#u2643
{
	z-index: 38;
	width: 716px;
	border-color: #000000;
	margin-left: 273px;
	top: -548px;
	margin-bottom: -548px;
	position: relative;
	background: #FFFFFF url("../images/isfahan_lotfollah_mosque_ceiling_symmetric%20-%20copy.jpg") no-repeat center center;
	background-size: cover !important;
}

#u2605
{
	z-index: 39;
	width: 716px;
	height: 1362px;
	border-color: #000000;
	background-color: #3F9C3F;
	background-color: rgba(0, 124, 0, 0.75);
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(0, 124, 0, 0.75);
}

#pu2722-8
{
	width: 0.01px;
	padding-bottom: 942px;
	margin-left: 302px;
	top: -1071px;
	margin-bottom: -943px;
	position: relative;
}

#u2722-8
{
	z-index: 83;
	width: 658px;
	min-height: 124px;
	text-align: center;
	color: #FFFFFF;
	font-family: cantarell, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 320px;
	left: 302px;
}

#u2722-2
{
	font-size: 26px;
	line-height: 31px;
}

#u2722-3,#u2722-4,#u2722-6
{
	font-size: 18px;
	line-height: 22px;
}

#u2639
{
	z-index: 73;
	width: 575px;
	position: fixed;
	top: 951px;
	left: 343px;
}

#u2641
{
	z-index: 78;
	width: 111px;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 90px;
	-webkit-border-radius: 90px;
	-khtml-border-radius: 90px;
	border-radius: 90px;
	padding-bottom: 31px;
	position: relative;
	margin-right: -10000px;
}

#u2640-4
{
	z-index: 79;
	width: 94px;
	min-height: 37px;
	text-align: center;
	font-size: 28px;
	letter-spacing: 4px;
	line-height: 34px;
	color: #007C00;
	font-family: karla, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 8px;
}

#u2642-4
{
	z-index: 74;
	width: 449px;
	min-height: 51px;
	font-size: 23px;
	color: #FFFFFF;
	line-height: 28px;
	font-family: cantarell, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 126px;
}

#u2747
{
	z-index: 107;
	width: 575px;
	position: fixed;
	top: 1163px;
	left: 343px;
}

#u2750
{
	z-index: 112;
	width: 111px;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 90px;
	-webkit-border-radius: 90px;
	-khtml-border-radius: 90px;
	border-radius: 90px;
	padding-bottom: 31px;
	position: relative;
	margin-right: -10000px;
}

#u2749-4
{
	z-index: 113;
	width: 94px;
	min-height: 37px;
	text-align: center;
	font-size: 23px;
	letter-spacing: 4px;
	line-height: 28px;
	color: #007C00;
	font-family: karla, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 8px;
}

#u2748-4
{
	z-index: 108;
	width: 449px;
	min-height: 51px;
	font-size: 23px;
	color: #FFFFFF;
	line-height: 28px;
	font-family: cantarell, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 126px;
}

#u2619
{
	z-index: 63;
	width: 570px;
	position: fixed;
	top: 531px;
	left: 348px;
}

#u2617
{
	z-index: 68;
	width: 111px;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 90px;
	-webkit-border-radius: 90px;
	-khtml-border-radius: 90px;
	border-radius: 90px;
	padding-bottom: 31px;
	position: relative;
	margin-right: -10000px;
}

#u2618-4
{
	z-index: 69;
	width: 87px;
	min-height: 37px;
	text-align: center;
	font-size: 29px;
	letter-spacing: 4px;
	line-height: 35px;
	color: #007C00;
	font-family: karla, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 12px;
}

#u999-4
{
	z-index: 64;
	width: 449px;
	min-height: 36px;
	font-size: 23px;
	color: #FFFFFF;
	line-height: 28px;
	font-family: cantarell, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 121px;
}

#u999-2
{
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 5px;
}

#u2751
{
	z-index: 117;
	width: 570px;
	position: fixed;
	top: 732px;
	left: 348px;
}

#u2754
{
	z-index: 122;
	width: 111px;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 90px;
	-webkit-border-radius: 90px;
	-khtml-border-radius: 90px;
	border-radius: 90px;
	padding-bottom: 31px;
	position: relative;
	margin-right: -10000px;
}

#u2752-4
{
	z-index: 123;
	width: 79px;
	min-height: 37px;
	text-align: center;
	font-size: 29px;
	letter-spacing: 4px;
	line-height: 35px;
	color: #007C00;
	font-family: karla, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 16px;
}

#u2753-4
{
	z-index: 118;
	width: 449px;
	min-height: 51px;
	font-size: 23px;
	color: #FFFFFF;
	line-height: 28px;
	font-family: cantarell, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 121px;
}

#u2615-2,#u2642-2,#u2748-2,#u2753-2
{
	padding: 5px;
}

#u2644
{
	z-index: 36;
	width: 716px;
	height: 579px;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: 273px;
	position: relative;
}

#pu2613-12
{
	width: 0.01px;
	padding-bottom: 349px;
	margin-left: 294px;
	top: -466px;
	margin-bottom: -349px;
	position: relative;
}

#u2613-12
{
	z-index: 41;
	width: 379px;
	min-height: 349px;
	color: #000000;
	font-weight: 400;
	position: fixed;
	top: 1503px;
	left: 294px;
}

#u2613-2
{
	font-size: 21px;
	text-align: right;
	line-height: 25px;
	letter-spacing: 3px;
	font-family: stint-ultra-expanded, serif;
	padding: 5px;
}

#u2613-4
{
	font-size: 21px;
	line-height: 25px;
	font-family: cantarell, sans-serif;
	padding: 5px;
}

#u2613-6,#u2613-8,#u2613-10
{
	font-size: 16px;
	line-height: 19px;
	font-family: cantarell, sans-serif;
	padding: 5px;
}

#u2715
{
	z-index: 37;
	width: 271px;
	height: 327px;
	border-color: #000000;
	position: fixed;
	top: 1516px;
	left: 705px;
	background: #FFFFFF url("../images/mosque-small1-u2715-fr.jpg") no-repeat center bottom;
	background-size: cover !important;
}

.js #u2613-12.pre_init,.js #u2715.pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u2645
{
	z-index: 34;
	width: 716px;
	border-color: #000000;
	margin-left: 273px;
	position: relative;
	background: #662D91 url("../images/background-2018835_1920.jpg") no-repeat center center;
	background-size: cover !important;
}

#u2729
{
	z-index: 35;
	width: 716px;
	height: 514px;
	border-color: #000000;
	background-color: #3F3F3F;
	background-color: rgba(0, 0, 0, 0.75);
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(0, 0, 0, 0.75);
}

#u2614-10
{
	z-index: 53;
	width: 673px;
	color: #FFFFFF;
	font-family: cantarell, sans-serif;
	position: fixed;
	top: 2190px;
	left: 308px;
}

#u2614-2
{
	font-size: 21px;
	line-height: 25px;
	font-weight: 700;
	padding: 5px;
}

#u2614-4,#u2614-6,#u2614-8
{
	font-size: 16px;
	line-height: 19px;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 5px;
	font-weight: 400;
}

#ppu2746
{
	width: 0.01px;
	margin-left: 273px;
	position: relative;
}

#pu2746
{
	z-index: 33;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u2746
{
	z-index: 0;
	width: 716px;
	border-color: #000000;
	background-color: #3F3F3F;
	background-color: rgba(0, 0, 0, 0.75);
	opacity: 0.35;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
	filter: alpha(opacity=35);
	position: absolute;
	top: 0px;
	bottom: 0px;
	-pie-background: rgba(0, 0, 0, 0.75);
}

#pu2733-16
{
	width: 0.01px;
	position: relative;
	left: 35px;
	padding-top: 169px;
	z-index: 2;
	padding-bottom: 105px;
}

#u2733-16
{
	z-index: 91;
	width: 662px;
	min-height: 168px;
	font-size: 21px;
	color: #FFFFFF;
	line-height: 25px;
	font-family: cantarell, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u2733-2
{
	padding-bottom: 5px;
}

#u2733-4,#u2733-6,#u2733-8,#u2733-10,#u2733-12,#u2733-14
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u2733-3,#u2733-5,#u2733-7,#u2733-9,#u2733-11,#u2733-13
{
	font-size: 18px;
	font-weight: 400;
	line-height: 22px;
}

#u2731
{
	z-index: 31;
	width: 716px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: #662D91 url("../images/isfahan_lotfollah_mosque_ceiling_symmetric.jpg") no-repeat center center;
	background-size: cover !important;
}

#u2745
{
	z-index: 32;
	width: 716px;
	height: 458px;
	border-color: #000000;
	background-color: #F1A554;
	background-color: rgba(237, 135, 28, 0.75);
	opacity: 0.55;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=55.00000000000001)";
	filter: alpha(opacity=55.00000000000001);
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(237, 135, 28, 0.75);
}

.js #u2729.pre_init,.js #u2746.pre_init,.js #u2745.pre_init
{
	opacity: 0.1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
	filter: alpha(opacity=10);
}

.js #u2731.pre_init
{
	opacity: 0.05;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=5)";
	filter: alpha(opacity=5);
}

#u1074
{
	z-index: 40;
	width: 715px;
	min-height: 501px;
	border-color: #E9E6DF;
	background-color: #EAEAEA;
	text-align: center;
	margin-left: 274px;
	margin-top: 1px;
	position: relative;
}

#u2513
{
	z-index: 2;
	width: 1194px;
	padding-bottom: 7px;
	left: -100px;
	top: -1px;
}

#u2513_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 994px;
	left: -100px;
	margin-bottom: -1px;
}

#u2514
{
	z-index: 3;
	width: 735px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 359px;
}

#pu2519
{
	width: 0.01px;
	position: relative;
}

#u2519
{
	z-index: 4;
	width: 730px;
	padding-bottom: 3px;
	margin-right: -10000px;
}

#u2517-6
{
	z-index: 25;
	width: 154px;
	min-height: 60px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 28px;
}

#u2517-6:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 60px;
	margin: 4px -10000px 0px 0px;
}

#u2520-8
{
	z-index: 17;
	width: 334px;
	min-height: 53px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 192px;
}

#u2516-4
{
	z-index: 9;
	width: 166px;
	min-height: 16px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 537px;
}

#u2516-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 29px -10000px 0px 0px;
}

#u2516-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 29px -10000px 0px 0px;
}

#u2518-4
{
	z-index: 13;
	width: 166px;
	min-height: 16px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 537px;
}

#u2518-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 12px -10000px 0px 0px;
}

#u2518-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 12px -10000px 0px 0px;
}

#u2515-4
{
	z-index: 5;
	width: 274px;
	min-height: 16px;
	margin-left: 461px;
}

body
{
	padding-top: 36px;
	padding-bottom: 200px;
}

#page .verticalspacer
{
	clear: both;
}

