#u2517-6
{
	font-family: karla-n7, sans-serif;
}

#u2515-4
{
	font-family: revalia-n4, sans-serif;
}

#u2526-8
{
	font-family: karla-n7, sans-serif;
}

#u2526-5
{
	font-family: karla-n4, sans-serif;
}

#u1980-4,#u2031-4
{
	font-family: cantarell-n4, sans-serif;
}

#u2053-4
{
	font-family: karla-n4, sans-serif;
}

