#u2517-6
{
	font-family: karla-n7, sans-serif;
}

#u2515-4
{
	font-family: revalia-n4, sans-serif;
}

#u2526-8
{
	font-family: karla-n7, sans-serif;
}

#u2526-5
{
	font-family: karla-n4, sans-serif;
}

#u2684-4,#u2685-4
{
	font-family: cantarell-n4, sans-serif;
}

#u2657-6,#u2659-4,#u2664-6,#u2668-4,#u2671-6,#u2675-4,#u2683-6,#u2680-4,#u2692-6,#u2690-4,#u2694-6,#u2699-4
{
	font-family: karla-n4, sans-serif;
}

