#u2517-6
{
	font-family: karla-n7, sans-serif;
}

#u2515-4
{
	font-family: revalia-n4, sans-serif;
}

#u2526-8
{
	font-family: karla-n7, sans-serif;
}

#u2526-5
{
	font-family: karla-n4, sans-serif;
}

#u1120-4
{
	font-family: cantarell-n4, sans-serif;
}

#u1122-4
{
	font-family: cantarell-n4, sans-serif;
}

#u1125-4
{
	font-family: cantarell-n4, sans-serif;
}

#u1126-4
{
	font-family: cantarell-n4, sans-serif;
}

#u1113-4
{
	font-family: cantarell-n4, sans-serif;
}

#u1115-4
{
	font-family: cantarell-n4, sans-serif;
}

#u1106-4
{
	font-family: cantarell-n4, sans-serif;
}

#u1107-4
{
	font-family: cantarell-n4, sans-serif;
}

#widgetu1118_input,#widgetu1118_prompt,#widgetu1123_input,#widgetu1123_prompt,#widgetu1111_input,#widgetu1111_prompt,#widgetu1105_input,#widgetu1105_prompt
{
	font-family: cantarell, sans-serif;
}

