#u2517-6
{
	font-family: karla-n7, sans-serif;
}

#u2515-4
{
	font-family: revalia-n4, sans-serif;
}

#u515-8
{
	font-family: karla-n7, sans-serif;
}

#u515-5
{
	font-family: karla-n4, sans-serif;
}

#u2815-4
{
	font-family: quantico-n4, sans-serif;
}

#u2838-4,#u2836-4
{
	font-family: quantico-n4, sans-serif;
}

#u2784
{
	font-family: cantarell-n4, sans-serif;
}

