#u2517-6
{
	font-family: karla-n7, sans-serif;
}

#u2515-4
{
	font-family: revalia-n4, sans-serif;
}

#u2526-8
{
	font-family: karla-n7, sans-serif;
}

#u2526-5
{
	font-family: karla-n4, sans-serif;
}

#u1045-26
{
	font-family: cantarell-n4, sans-serif;
}

#u1062-4
{
	font-family: cantarell-n4, sans-serif;
}

#u1823-6,#u1793-4,#u1802-4,#u1812-4,#u1816-4,#u1870-4
{
	font-family: karla-n4, sans-serif;
}

