#u2517-6
{
	font-family: karla-n7, sans-serif;
}

#u2515-4
{
	font-family: revalia-n4, sans-serif;
}

#u2526-8
{
	font-family: karla-n7, sans-serif;
}

#u2526-5
{
	font-family: karla-n4, sans-serif;
}

#u2640-4,#u2749-4,#u2618-4,#u2752-4
{
	font-family: karla-n7, sans-serif;
}

#u2613-2
{
	font-family: stint-ultra-expanded-n4, serif;
}

#u2615-4,#u2722-8,#u2642-4,#u2748-4,#u999-4,#u2753-4,#u2613-4,#u2613-6,#u2613-8,#u2613-10,#u2614-10,#u2733-16
{
	font-family: cantarell-n4, sans-serif;
}

