#u2520-4
{
	font-family: karla-n4, sans-serif;
}

#u3130-4
{
	font-family: cantarell-n4, sans-serif;
}

#u3131-4
{
	font-family: cantarell-n4, sans-serif;
}

#u3110-4
{
	font-family: cantarell-n4, sans-serif;
}

#u3109-4
{
	font-family: cantarell-n4, sans-serif;
}

#u3124-4
{
	font-family: cantarell-n4, sans-serif;
}

#u3122-4
{
	font-family: cantarell-n4, sans-serif;
}

#u3103-4
{
	font-family: cantarell-n4, sans-serif;
}

#u3105-4
{
	font-family: cantarell-n4, sans-serif;
}

#widgetu3128_input,#widgetu3128_prompt,#widgetu3107_input,#widgetu3107_prompt,#widgetu3120_input,#widgetu3120_prompt,#widgetu3102_input,#widgetu3102_prompt
{
	font-family: cantarell, sans-serif;
}

#u2517-4
{
	font-family: karla-n7, sans-serif;
}

#u3087-8,#u3086-4,#u3088-4,#u3042-4,#u3671-4
{
	font-family: quicksand-n4, sans-serif;
}

#u3079-4
{
	font-family: quicksand-n4, sans-serif;
}

#u3047-4
{
	font-family: quicksand-n4, sans-serif;
}

#u3074-4
{
	font-family: quicksand-n4, sans-serif;
}

#u2515-4
{
	font-family: revalia-n4, sans-serif;
}

#u3195-4
{
	font-family: cantarell-n4, sans-serif;
}

#u3356-6
{
	font-family: karla-n7, sans-serif;
}

#u3511-4,#u3663-4,#u3397-4
{
	font-family: quantico-n4, sans-serif;
}

#u3356-3,#u3475-4
{
	font-family: karla-n4, sans-serif;
}

