#u2517-6
{
	font-family: karla-n7, sans-serif;
}

#u2515-4
{
	font-family: revalia-n4, sans-serif;
}

#u2526-8
{
	font-family: karla-n7, sans-serif;
}

#u2526-5
{
	font-family: karla-n4, sans-serif;
}

#u1039-6,#u1006-6,#u1005-6,#u1877-4,#u2059-4,#u2063-6
{
	font-family: cantarell-n4, sans-serif;
}

