.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 994px;
	min-height: 700.9640625000002px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -199px;
}

#u2604
{
	z-index: 113;
	width: 120px;
	top: 187px;
	left: 50%;
	margin-left: -481px;
}

#u2521
{
	z-index: 114;
	width: 271px;
	top: 458px;
	left: 50%;
	margin-left: -497px;
}

#u2522
{
	z-index: 115;
	width: 270px;
	padding-bottom: 614px;
	top: 0px;
	left: 50%;
	margin-left: -497px;
}

#u2590
{
	z-index: 116;
	width: 270px;
	padding-bottom: 614px;
	top: 0px;
	left: 50%;
	margin-left: -497px;
}

#u2523
{
	z-index: 117;
	width: 273px;
	padding-bottom: 567px;
	top: 47px;
	left: 50%;
	margin-left: -497px;
}

#u2524
{
	z-index: 118;
	width: 271px;
	height: 137px;
	top: 477px;
	left: 50%;
	margin-left: -497px;
}

#u2525
{
	z-index: 119;
	width: 259px;
	top: 47px;
	left: 50%;
	margin-left: -483px;
}

#u2525_position_content
{
	margin-top: -18px;
	margin-bottom: 562px;
}

#u2526-8
{
	z-index: 120;
	width: 259px;
	min-height: 96px;
	top: 47px;
	left: 50%;
	margin-left: -483px;
}

#menuu2528
{
	z-index: 139;
	width: 241px;
	top: 218px;
	left: 50%;
	margin-left: -481px;
}

#u2569
{
	width: 241px;
}

#u2572
{
	width: 241px;
	min-height: 20px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u2572:hover
{
	margin: 0px -10000px 0px 0px;
}

#u2532
{
	width: 241px;
	min-height: 20px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u2572.MuseMenuActive,#u2532:hover
{
	margin: 0px -10000px 0px 0px;
}

#u2577
{
	width: 241px;
	min-height: 20px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u2532.MuseMenuActive,#u2577:hover
{
	margin: 0px -10000px 0px 0px;
}

#u2539
{
	width: 241px;
	min-height: 20px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u2577.MuseMenuActive,#u2539:hover
{
	margin: 0px -10000px 0px 0px;
}

#u2563
{
	width: 241px;
	min-height: 20px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u2539.MuseMenuActive,#u2563:hover
{
	margin: 0px -10000px 0px 0px;
}

#u2575-4,#u2533-4,#u2580-4,#u2540-4,#u2566-4
{
	width: 241px;
	min-height: 20px;
	margin-right: -10000px;
	top: 5px;
}

#u2586
{
	width: 241px;
	min-height: 20px;
	padding-bottom: 12px;
	margin-right: -10000px;
}

#u2563.MuseMenuActive,#u2586:hover
{
	margin: 0px -10000px 0px 0px;
}

#u2529,#u2576,#u2536,#u2562,#u2583,#u2543
{
	width: 241px;
	margin-top: 2px;
}

#u2544
{
	width: 241px;
	min-height: 20px;
	padding-bottom: 12px;
	margin-right: -10000px;
}

#u2586.MuseMenuActive,#u2544:hover
{
	margin: 0px -10000px 0px 0px;
}

#u2587-4,#u2547-4
{
	width: 241px;
	min-height: 20px;
	margin-right: -10000px;
	top: 6px;
}

#u2527-11
{
	z-index: 128;
	width: 251px;
	min-height: 78px;
	top: 506px;
	left: 50%;
	margin-left: -477px;
}

#u2591
{
	z-index: 182;
	width: 271px;
	margin-right: -10000px;
}

#u2593
{
	z-index: 183;
	width: 271px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u2592-4
{
	z-index: 184;
	width: 251px;
	min-height: 19px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 10px;
}

#u2603
{
	z-index: 188;
	width: 120px;
	margin-right: -10000px;
}

#u2601
{
	z-index: 189;
	width: 120px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u2544.MuseMenuActive,#u2601:hover
{
	margin: 0px -10000px 0px 0px;
}

#u2601:active
{
	margin: 0px -10000px 0px 0px;
}

#u2602-4
{
	z-index: 190;
	width: 96px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 12px;
}

#u678
{
	z-index: 31;
	width: 721px;
	margin-left: 283px;
	position: relative;
}

#u682
{
	z-index: 32;
	width: 721px;
	border-color: #000000;
	padding-bottom: 17px;
	position: relative;
	margin-right: -10000px;
	background: #057C05 url("../images/kid-1077793_1280.jpg") no-repeat center bottom;
	background-size: cover !important;
}

#u679
{
	z-index: 33;
	width: 721px;
	position: relative;
	margin-right: -10000px;
	margin-top: 126px;
}

#u680
{
	z-index: 34;
	width: 721px;
	border-color: #000000;
	background-color: #494949;
	background-color: rgba(0, 0, 0, 0.71);
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(0, 0, 0, 0.71);
}

#u681-4
{
	z-index: 35;
	width: 658px;
	min-height: 28px;
	text-align: left;
	font-size: 28px;
	letter-spacing: 4px;
	color: #FFFFFF;
	line-height: 34px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 29px;
}

#pu1044
{
	width: 0.01px;
	margin-left: 294px;
	margin-top: 21px;
	position: relative;
}

#u1044
{
	z-index: 39;
	width: 435px;
	position: relative;
	margin-right: -10000px;
}

#u1045-26
{
	z-index: 40;
	width: 435px;
	min-height: 325px;
	background-color: transparent;
	color: #000000;
	font-family: cantarell, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u1045-26.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 325px;
	margin: 0px -10000px 0px 0px;
}

#u1045-26.MuseLinkActive p,#u1045-26.MuseLinkActive span
{
	color: #000000;
	visibility: inherit;
}

#u1045-2,#u1045-5,#u1045-7,#u1045-12,#u1045-17
{
	font-size: 18px;
	line-height: 22px;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
	font-weight: 700;
}

#u1045-22
{
	font-size: 18px;
	line-height: 22px;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
	font-weight: 400;
}

#u1045-4,#u1045-9,#u1045-10,#u1045-14,#u1045-15,#u1045-19,#u1045-20,#u1045-24
{
	font-size: 16px;
	line-height: 19px;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
	font-weight: 700;
}

#u1045,#u1045-3,#u1045-6,#u1045-8,#u1045-11,#u1045-13,#u1045-16,#u1045-18,#u1045-23
{
	font-weight: 400;
}

#pu1821
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 445px;
}

#u1821
{
	z-index: 104;
	width: 265px;
	position: relative;
}

#u1822
{
	z-index: 105;
	width: 265px;
	position: relative;
	margin-right: -10000px;
}

#u1824
{
	z-index: 106;
	width: 265px;
	border-color: #000000;
	background-color: #B1D876;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
}

#u1823-6
{
	z-index: 107;
	width: 248px;
	min-height: 76px;
	text-align: center;
	letter-spacing: 2px;
	color: #313131;
	font-family: karla, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 9px;
}

#u1823-2
{
	font-size: 18px;
	line-height: 22px;
	padding-right: 5px;
	padding-left: 5px;
	font-weight: 700;
}

#u1823-4
{
	font-size: 17px;
	line-height: 20px;
	padding-right: 5px;
	padding-left: 5px;
	font-weight: 400;
}

#u1820
{
	z-index: 66;
	width: 265px;
	margin-top: 34px;
	position: relative;
}

#u1063
{
	z-index: 67;
	width: 265px;
	position: relative;
	margin-right: -10000px;
}

#u1061
{
	z-index: 68;
	width: 265px;
	border-color: #000000;
	background-color: #B1D876;
	padding-bottom: 155px;
	position: relative;
	margin-right: -10000px;
}

#u1062-4
{
	z-index: 69;
	width: 248px;
	min-height: 33px;
	text-align: center;
	font-size: 18px;
	color: #313131;
	line-height: 22px;
	font-family: cantarell, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 9px;
}

#u1062-2
{
	padding-right: 5px;
	padding-left: 5px;
}

#menuu1735
{
	z-index: 73;
	width: 256px;
	position: relative;
	margin-right: -10000px;
	margin-top: 49px;
	left: 4px;
}

#u1790
{
	width: 256px;
	position: relative;
}

#u1791
{
	width: 256px;
	min-height: 20px;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.8);
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(255, 255, 255, 0.8);
}

#u1791:hover
{
	background-color: #ADADAD;
	background-color: rgba(153, 153, 153, 0.8);
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(153, 153, 153, 0.8);
}

#u1791:active
{
	background-color: #888888;
	background-color: rgba(107, 107, 107, 0.8);
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(107, 107, 107, 0.8);
}

#u1791.MuseMenuActive
{
	background-color: #ADADAD;
	background-color: rgba(153, 153, 153, 0.8);
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(153, 153, 153, 0.8);
}

#u1800
{
	width: 256px;
	min-height: 20px;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.8);
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(255, 255, 255, 0.8);
}

#u1800:hover
{
	background-color: #ADADAD;
	background-color: rgba(153, 153, 153, 0.8);
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(153, 153, 153, 0.8);
}

#u1800:active
{
	background-color: #888888;
	background-color: rgba(107, 107, 107, 0.8);
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(107, 107, 107, 0.8);
}

#u1800.MuseMenuActive
{
	background-color: #ADADAD;
	background-color: rgba(153, 153, 153, 0.8);
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(153, 153, 153, 0.8);
}

#u1793-4,#u1802-4
{
	width: 256px;
	min-height: 20px;
	text-align: center;
	font-size: 17px;
	color: #000000;
	line-height: 20px;
	font-family: karla, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u1809
{
	width: 256px;
	min-height: 20px;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.8);
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(255, 255, 255, 0.8);
}

#u1809:hover
{
	background-color: #ADADAD;
	background-color: rgba(153, 153, 153, 0.8);
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(153, 153, 153, 0.8);
}

#u1809:active
{
	background-color: #888888;
	background-color: rgba(107, 107, 107, 0.8);
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(107, 107, 107, 0.8);
}

#u1809.MuseMenuActive
{
	background-color: #ADADAD;
	background-color: rgba(153, 153, 153, 0.8);
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(153, 153, 153, 0.8);
}

#u1814
{
	width: 256px;
	min-height: 20px;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.8);
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(255, 255, 255, 0.8);
}

#u1814:hover
{
	background-color: #ADADAD;
	background-color: rgba(153, 153, 153, 0.8);
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(153, 153, 153, 0.8);
}

#u1814:active
{
	background-color: #888888;
	background-color: rgba(107, 107, 107, 0.8);
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(107, 107, 107, 0.8);
}

#u1814.MuseMenuActive
{
	background-color: #ADADAD;
	background-color: rgba(153, 153, 153, 0.8);
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(153, 153, 153, 0.8);
}

#u1799,#u1806,#u1813,#u1866
{
	width: 256px;
	margin-top: 2px;
	position: relative;
}

#u1869
{
	width: 256px;
	min-height: 20px;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.8);
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(255, 255, 255, 0.8);
}

#u1869:hover
{
	background-color: #ADADAD;
	background-color: rgba(153, 153, 153, 0.8);
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(153, 153, 153, 0.8);
}

#u1869:active
{
	background-color: #888888;
	background-color: rgba(107, 107, 107, 0.8);
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(107, 107, 107, 0.8);
}

#u1869.MuseMenuActive
{
	background-color: #ADADAD;
	background-color: rgba(153, 153, 153, 0.8);
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(153, 153, 153, 0.8);
}

#u1812-4,#u1816-4,#u1870-4
{
	width: 256px;
	min-height: 20px;
	text-align: center;
	font-size: 17px;
	color: #000000;
	line-height: 20px;
	font-family: karla, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 4px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u2513
{
	z-index: 2;
	width: 1194px;
	padding-bottom: 7px;
	left: -100px;
	margin-top: 135px;
}

#u2513_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 994px;
	left: -100px;
}

#u2514
{
	z-index: 3;
	width: 735px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 359px;
}

#pu2519
{
	width: 0.01px;
	position: relative;
}

#u2519
{
	z-index: 4;
	width: 730px;
	padding-bottom: 3px;
	margin-right: -10000px;
}

#u2517-6
{
	z-index: 25;
	width: 154px;
	min-height: 60px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 28px;
}

#u2517-6:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 60px;
	margin: 4px -10000px 0px 0px;
}

#u2520-8
{
	z-index: 17;
	width: 334px;
	min-height: 53px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 192px;
}

#u2516-4
{
	z-index: 9;
	width: 166px;
	min-height: 16px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 537px;
}

#u2516-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 29px -10000px 0px 0px;
}

#u2516-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 29px -10000px 0px 0px;
}

#u2518-4
{
	z-index: 13;
	width: 166px;
	min-height: 16px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 537px;
}

#u2518-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 12px -10000px 0px 0px;
}

#u2518-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 12px -10000px 0px 0px;
}

#u2515-4
{
	z-index: 5;
	width: 274px;
	min-height: 16px;
	margin-left: 461px;
}

body
{
	padding-top: 36px;
	padding-bottom: 135px;
}

#page .verticalspacer
{
	clear: both;
}

