#u512
{
	border-color: #000000;
	background-color: #FFFFFF;
	position: fixed;
}

#u513
{
	border-color: #000000;
	background-color: #000000;
	position: fixed;
}

#u515-8
{
	background-color: #FFFFFF;
	color: #057C05;
	font-family: karla, sans-serif;
	font-weight: 700;
	position: fixed;
}

#u515-2,#u515-4
{
	font-size: 39px;
	line-height: 47px;
	letter-spacing: 1px;
}

#u515-6
{
	font-size: 16px;
	line-height: 19px;
}

#u515-5
{
	font-family: karla, sans-serif;
	font-weight: 400;
}

#u885,#u618,#u617,#u616,#menuu463
{
	position: fixed;
}

#u493
{
	background-color: #434343;
	position: relative;
}

#u493:hover
{
	background-color: #44A044;
}

#u495-4
{
	text-align: center;
	font-size: 17px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	font-weight: normal;
	position: relative;
}

#u484
{
	background-color: #434343;
	position: relative;
}

#u484:hover
{
	background-color: #44A044;
}

#u505
{
	background-color: #434343;
	position: relative;
}

#u505:hover
{
	background-color: #44A044;
}

#u712
{
	background-color: #434343;
	position: relative;
}

#u712:hover
{
	background-color: #44A044;
}

#u500
{
	background-color: #434343;
	position: relative;
}

#u500:hover
{
	background-color: #44A044;
}

#u477
{
	background-color: #434343;
	position: relative;
}

#u477:hover
{
	background-color: #44A044;
}

#u875
{
	background-color: #434343;
	position: relative;
}

#u875:hover
{
	background-color: #44A044;
}

#u493.MuseMenuActive,#u484.MuseMenuActive,#u505.MuseMenuActive,#u712.MuseMenuActive,#u500.MuseMenuActive,#u477.MuseMenuActive,#u875.MuseMenuActive
{
	background-color: #057C05;
}

#u485-4,#u506-4,#u715-4,#u503-4,#u478-4,#u877-4
{
	text-align: center;
	line-height: 20px;
	font-size: 17px;
	color: #FFFFFF;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u514-11
{
	color: #FFFFFF;
	font-size: 14px;
	position: fixed;
}

#u490,#u483,#u504,#u709,#u497,#u476,#u874,#u882
{
	position: relative;
}

#u883
{
	border-color: #000000;
	background-color: #191919;
	position: relative;
}

#u884-4
{
	text-align: center;
	font-size: 15px;
	letter-spacing: 3px;
	color: #FFFFFF;
	line-height: 18px;
	font-weight: bold;
	position: relative;
}

