#u2590
{
	border-color: #000000;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.97);
	position: fixed;
	-pie-background: rgba(255, 255, 255, 0.97);
}

#u2524
{
	border-color: #000000;
	background-color: #000000;
	position: fixed;
}

#u2526-8
{
	color: #057C05;
	font-family: karla, sans-serif;
	font-weight: 700;
	position: fixed;
}

#u2526-2,#u2526-4
{
	font-size: 35px;
	line-height: 42px;
	letter-spacing: 1px;
}

#u2526-5
{
	font-family: karla, sans-serif;
	font-weight: 400;
}

#u2604,#u2521,#u2522,#u2523,#u2525,#menuu2528
{
	position: fixed;
}

#u2572
{
	background-color: #434343;
	position: relative;
}

#u2572:hover
{
	background-color: #44A044;
}

#u2575-4
{
	text-align: center;
	font-size: 17px;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	font-weight: normal;
	position: relative;
}

#u2532
{
	background-color: #434343;
	position: relative;
}

#u2532:hover
{
	background-color: #44A044;
}

#u2577
{
	background-color: #434343;
	position: relative;
}

#u2577:hover
{
	background-color: #44A044;
}

#u2539
{
	background-color: #434343;
	position: relative;
}

#u2539:hover
{
	background-color: #44A044;
}

#u2563
{
	background-color: #434343;
	position: relative;
}

#u2563:hover
{
	background-color: #44A044;
}

#u2586
{
	background-color: #434343;
	position: relative;
}

#u2586:hover
{
	background-color: #44A044;
}

#u2544
{
	background-color: #434343;
	position: relative;
}

#u2544:hover
{
	background-color: #44A044;
}

#u2572.MuseMenuActive,#u2532.MuseMenuActive,#u2577.MuseMenuActive,#u2539.MuseMenuActive,#u2563.MuseMenuActive,#u2586.MuseMenuActive,#u2544.MuseMenuActive
{
	background-color: #057C05;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u2527-11
{
	color: #FFFFFF;
	position: fixed;
}

#u2526-6,#u2527-2,#u2527-4
{
	font-size: 14px;
}

#u2527-5,#u2527-7,#u2527-9
{
	font-size: 12px;
	line-height: 14px;
}

#u2593
{
	border-color: #000000;
	background-color: #191919;
	position: relative;
}

#u2592-4
{
	text-align: center;
	font-size: 13px;
	letter-spacing: 3px;
	line-height: 16px;
	color: #FFFFFF;
	font-weight: bold;
	position: relative;
}

#u2569,#u2529,#u2576,#u2536,#u2562,#u2583,#u2543,#u2591,#u2603
{
	position: relative;
}

#u2601
{
	border-color: #000000;
	background-color: #434343;
	position: relative;
}

#u2601:hover
{
	background-color: #44A044;
}

#u2601:active
{
	background-color: #44A044;
}

#u2533-4,#u2580-4,#u2540-4,#u2566-4,#u2587-4,#u2547-4,#u2602-4
{
	text-align: center;
	line-height: 20px;
	font-size: 17px;
	color: #FFFFFF;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
}

