.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 994px;
	min-height: 700.9500000000002px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -199px;
}

#u2604
{
	z-index: 58;
	width: 120px;
	top: 187px;
	left: 50%;
	margin-left: -481px;
}

#u2521
{
	z-index: 59;
	width: 271px;
	top: 458px;
	left: 50%;
	margin-left: -497px;
}

#u2522
{
	z-index: 60;
	width: 270px;
	padding-bottom: 614px;
	top: 0px;
	left: 50%;
	margin-left: -497px;
}

#u2590
{
	z-index: 61;
	width: 270px;
	padding-bottom: 614px;
	top: 0px;
	left: 50%;
	margin-left: -497px;
}

#u2523
{
	z-index: 62;
	width: 273px;
	padding-bottom: 567px;
	top: 47px;
	left: 50%;
	margin-left: -497px;
}

#u2524
{
	z-index: 63;
	width: 271px;
	height: 137px;
	top: 477px;
	left: 50%;
	margin-left: -497px;
}

#u2525
{
	z-index: 64;
	width: 259px;
	top: 47px;
	left: 50%;
	margin-left: -483px;
}

#u2525_position_content
{
	margin-top: -18px;
	margin-bottom: 562px;
}

#u2526-8
{
	z-index: 65;
	width: 259px;
	min-height: 96px;
	top: 47px;
	left: 50%;
	margin-left: -483px;
}

#menuu2528
{
	z-index: 84;
	width: 241px;
	top: 218px;
	left: 50%;
	margin-left: -481px;
}

#u2569
{
	width: 241px;
}

#u2572
{
	width: 241px;
	min-height: 20px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u2572:hover
{
	margin: 0px -10000px 0px 0px;
}

#u2532
{
	width: 241px;
	min-height: 20px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u2572.MuseMenuActive,#u2532:hover
{
	margin: 0px -10000px 0px 0px;
}

#u2577
{
	width: 241px;
	min-height: 20px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u2532.MuseMenuActive,#u2577:hover
{
	margin: 0px -10000px 0px 0px;
}

#u2539
{
	width: 241px;
	min-height: 20px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u2577.MuseMenuActive,#u2539:hover
{
	margin: 0px -10000px 0px 0px;
}

#u2563
{
	width: 241px;
	min-height: 20px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u2539.MuseMenuActive,#u2563:hover
{
	margin: 0px -10000px 0px 0px;
}

#u2575-4,#u2533-4,#u2580-4,#u2540-4,#u2566-4
{
	width: 241px;
	min-height: 20px;
	margin-right: -10000px;
	top: 5px;
}

#u2586
{
	width: 241px;
	min-height: 20px;
	padding-bottom: 12px;
	margin-right: -10000px;
}

#u2563.MuseMenuActive,#u2586:hover
{
	margin: 0px -10000px 0px 0px;
}

#u2529,#u2576,#u2536,#u2562,#u2583,#u2543
{
	width: 241px;
	margin-top: 2px;
}

#u2544
{
	width: 241px;
	min-height: 20px;
	padding-bottom: 12px;
	margin-right: -10000px;
}

#u2586.MuseMenuActive,#u2544:hover
{
	margin: 0px -10000px 0px 0px;
}

#u2587-4,#u2547-4
{
	width: 241px;
	min-height: 20px;
	margin-right: -10000px;
	top: 6px;
}

#u2527-11
{
	z-index: 73;
	width: 251px;
	min-height: 78px;
	top: 506px;
	left: 50%;
	margin-left: -477px;
}

#u2591
{
	z-index: 127;
	width: 271px;
	margin-right: -10000px;
}

#u2593
{
	z-index: 128;
	width: 271px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u2592-4
{
	z-index: 129;
	width: 251px;
	min-height: 19px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 10px;
}

#u2603
{
	z-index: 133;
	width: 120px;
	margin-right: -10000px;
}

#u2601
{
	z-index: 134;
	width: 120px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u2544.MuseMenuActive,#u2601:hover
{
	margin: 0px -10000px 0px 0px;
}

#u2601:active
{
	margin: 0px -10000px 0px 0px;
}

#u2602-4
{
	z-index: 135;
	width: 96px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 12px;
}

#u2033
{
	z-index: 31;
	width: 722px;
	margin-left: 282px;
	position: relative;
}

#u2037
{
	z-index: 32;
	width: 722px;
	border-color: #000000;
	padding-bottom: 17px;
	position: relative;
	margin-right: -10000px;
	background: #057C05 url("../images/rose-2020364_1280.jpg") no-repeat right center;
	background-size: cover !important;
}

#u2034
{
	z-index: 33;
	width: 722px;
	position: relative;
	margin-right: -10000px;
	margin-top: 151px;
}

#u2035
{
	z-index: 34;
	width: 722px;
	border-color: #000000;
	background-color: #494949;
	background-color: rgba(0, 0, 0, 0.71);
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(0, 0, 0, 0.71);
}

#u2036-4
{
	z-index: 35;
	width: 659px;
	min-height: 28px;
	text-align: left;
	font-size: 28px;
	letter-spacing: 4px;
	color: #FFFFFF;
	line-height: 34px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 29px;
}

#pu1979
{
	width: 0.01px;
	margin-left: 291px;
	margin-top: 28px;
	position: relative;
}

#u1979
{
	z-index: 39;
	width: 383px;
	position: relative;
	margin-right: -10000px;
}

#u1980-4
{
	z-index: 40;
	width: 383px;
	min-height: 325px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	color: #000000;
	font-family: cantarell, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u1980-2
{
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1980
{
	font-size: 18px;
	font-weight: 400;
	line-height: 22px;
}

#u1981
{
	z-index: 44;
	width: 265px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 448px;
}

#u2030
{
	z-index: 45;
	width: 265px;
	position: relative;
	margin-right: -10000px;
}

#u2032
{
	z-index: 46;
	width: 265px;
	border-color: #000000;
	background-color: #B1D876;
	padding-bottom: 54px;
	position: relative;
	margin-right: -10000px;
}

#u2031-4
{
	z-index: 47;
	width: 248px;
	min-height: 33px;
	text-align: center;
	font-size: 18px;
	color: #313131;
	line-height: 22px;
	font-family: cantarell, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 9px;
}

#u2031-2
{
	padding-right: 5px;
	padding-left: 5px;
}

#menuu1982
{
	z-index: 51;
	width: 256px;
	position: relative;
	margin-right: -10000px;
	margin-top: 49px;
	left: 4px;
}

#u2050
{
	width: 256px;
	position: relative;
}

#u2051
{
	width: 256px;
	min-height: 20px;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.8);
	padding-bottom: 18px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(255, 255, 255, 0.8);
}

#u2051:hover
{
	background-color: #ADADAD;
	background-color: rgba(153, 153, 153, 0.8);
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(153, 153, 153, 0.8);
}

#u2051:active
{
	background-color: #888888;
	background-color: rgba(107, 107, 107, 0.8);
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(107, 107, 107, 0.8);
}

#u2051.MuseMenuActive
{
	background-color: #ADADAD;
	background-color: rgba(153, 153, 153, 0.8);
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(153, 153, 153, 0.8);
}

#u2053-4
{
	width: 256px;
	min-height: 20px;
	text-align: center;
	font-size: 17px;
	color: #000000;
	line-height: 20px;
	font-family: karla, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 9px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u2513
{
	z-index: 2;
	width: 1194px;
	padding-bottom: 7px;
	left: -100px;
	margin-top: 264px;
}

#u2513_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 994px;
	left: -100px;
}

#u2514
{
	z-index: 3;
	width: 735px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 359px;
}

#pu2519
{
	width: 0.01px;
	position: relative;
}

#u2519
{
	z-index: 4;
	width: 730px;
	padding-bottom: 3px;
	margin-right: -10000px;
}

#u2517-6
{
	z-index: 25;
	width: 154px;
	min-height: 60px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 28px;
}

#u2517-6:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 60px;
	margin: 4px -10000px 0px 0px;
}

#u2520-8
{
	z-index: 17;
	width: 334px;
	min-height: 53px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 192px;
}

#u2516-4
{
	z-index: 9;
	width: 166px;
	min-height: 16px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 537px;
}

#u2516-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 29px -10000px 0px 0px;
}

#u2516-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 29px -10000px 0px 0px;
}

#u2518-4
{
	z-index: 13;
	width: 166px;
	min-height: 16px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 537px;
}

#u2518-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 12px -10000px 0px 0px;
}

#u2518-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 12px -10000px 0px 0px;
}

#u2515-4
{
	z-index: 5;
	width: 274px;
	min-height: 16px;
	margin-left: 461px;
}

body
{
	padding-top: 36px;
	padding-bottom: 135px;
}

#page .verticalspacer
{
	clear: both;
}

