.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 994px;
	min-height: 700.95px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -199px;
}

#u2604
{
	z-index: 54;
	width: 109px;
	top: 187px;
	left: 50%;
	margin-left: -482px;
}

#u2521
{
	z-index: 55;
	width: 246px;
	top: 458px;
	left: 50%;
	margin-left: -497px;
}

#u2522
{
	z-index: 56;
	width: 245px;
	padding-bottom: 614px;
	top: 0px;
	left: 50%;
	margin-left: -497px;
}

#u2590
{
	z-index: 57;
	width: 245px;
	padding-bottom: 614px;
	top: 0px;
	left: 50%;
	margin-left: -497px;
}

#u2523
{
	z-index: 58;
	width: 248px;
	padding-bottom: 567px;
	top: 47px;
	left: 50%;
	margin-left: -497px;
}

#u2524
{
	z-index: 59;
	width: 246px;
	height: 137px;
	top: 477px;
	left: 50%;
	margin-left: -497px;
}

#u2525
{
	z-index: 60;
	width: 235px;
	top: 47px;
	left: 50%;
	margin-left: -484px;
}

#u2525_position_content
{
	margin-top: -18px;
	margin-bottom: 555px;
}

#u2526-8
{
	z-index: 61;
	width: 235px;
	min-height: 96px;
	top: 47px;
	left: 50%;
	margin-left: -484px;
}

#menuu2528
{
	z-index: 80;
	width: 218px;
	top: 218px;
	left: 50%;
	margin-left: -482px;
}

#u2569
{
	width: 218px;
}

#u2572
{
	width: 218px;
	min-height: 20px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u2572:hover
{
	margin: 0px -10000px 0px 0px;
}

#u2532
{
	width: 218px;
	min-height: 20px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u2572.MuseMenuActive,#u2532:hover
{
	margin: 0px -10000px 0px 0px;
}

#u2577
{
	width: 218px;
	min-height: 20px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u2532.MuseMenuActive,#u2577:hover
{
	margin: 0px -10000px 0px 0px;
}

#u2539
{
	width: 218px;
	min-height: 20px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u2577.MuseMenuActive,#u2539:hover
{
	margin: 0px -10000px 0px 0px;
}

#u2563
{
	width: 218px;
	min-height: 20px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u2539.MuseMenuActive,#u2563:hover
{
	margin: 0px -10000px 0px 0px;
}

#u2575-4,#u2533-4,#u2580-4,#u2540-4,#u2566-4
{
	width: 218px;
	min-height: 20px;
	margin-right: -10000px;
	top: 5px;
}

#u2586
{
	width: 218px;
	min-height: 20px;
	padding-bottom: 12px;
	margin-right: -10000px;
}

#u2563.MuseMenuActive,#u2586:hover
{
	margin: 0px -10000px 0px 0px;
}

#u2529,#u2576,#u2536,#u2562,#u2583,#u2543
{
	width: 218px;
	margin-top: 2px;
}

#u2544
{
	width: 218px;
	min-height: 20px;
	padding-bottom: 12px;
	margin-right: -10000px;
}

#u2586.MuseMenuActive,#u2544:hover
{
	margin: 0px -10000px 0px 0px;
}

#u2587-4,#u2547-4
{
	width: 218px;
	min-height: 20px;
	margin-right: -10000px;
	top: 6px;
}

#u2527-11
{
	z-index: 69;
	width: 228px;
	min-height: 78px;
	top: 506px;
	left: 50%;
	margin-left: -479px;
}

#u2591
{
	z-index: 123;
	width: 246px;
	margin-right: -10000px;
}

#u2593
{
	z-index: 124;
	width: 246px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u2592-4
{
	z-index: 125;
	width: 228px;
	min-height: 19px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 9px;
}

#u2603
{
	z-index: 129;
	width: 109px;
	margin-right: -10000px;
}

#u2601
{
	z-index: 130;
	width: 109px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u2544.MuseMenuActive,#u2601:hover
{
	margin: 0px -10000px 0px 0px;
}

#u2601:active
{
	margin: 0px -10000px 0px 0px;
}

#u2602-4
{
	z-index: 131;
	width: 87px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 11px;
}

#u1959
{
	z-index: 31;
	width: 722px;
	margin-left: 282px;
	position: relative;
}

#u1963
{
	z-index: 32;
	width: 722px;
	border-color: #000000;
	padding-bottom: 17px;
	position: relative;
	margin-right: -10000px;
	background: #057C05 url("../images/apple-256261_640.jpg") no-repeat left bottom;
	background-size: cover !important;
}

#u1960
{
	z-index: 33;
	width: 722px;
	position: relative;
	margin-right: -10000px;
	margin-top: 155px;
}

#u1962
{
	z-index: 34;
	width: 722px;
	border-color: #000000;
	background-color: #494949;
	background-color: rgba(0, 0, 0, 0.71);
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(0, 0, 0, 0.71);
}

#u1961-4
{
	z-index: 35;
	width: 659px;
	min-height: 28px;
	text-align: left;
	font-size: 28px;
	letter-spacing: 4px;
	line-height: 34px;
	color: #FFFFFF;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 29px;
}

#pu1901
{
	width: 0.01px;
	margin-left: 293px;
	margin-top: 32px;
	position: relative;
}

#u1901
{
	z-index: 39;
	width: 347px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
}

#u1902-4
{
	z-index: 40;
	width: 347px;
	min-height: 136px;
	background-color: transparent;
	font-size: 16px;
	color: #000000;
	line-height: 19px;
	font-family: cantarell, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u1902-2
{
	padding: 10px 5px 5px;
}

#u1902
{
	font-weight: 400;
}

#u1955
{
	z-index: 44;
	width: 340px;
	position: relative;
	margin-right: -10000px;
	left: 372px;
}

#u1956
{
	z-index: 45;
	width: 340px;
	position: relative;
	margin-right: -10000px;
}

#u1957
{
	z-index: 46;
	width: 340px;
	border-color: #000000;
	background-color: #B1D876;
	padding-bottom: 15px;
	position: relative;
	margin-right: -10000px;
}

#u1958-7
{
	z-index: 47;
	width: 318px;
	min-height: 117px;
	text-align: center;
	letter-spacing: 2px;
	color: #313131;
	font-family: karla, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 11px;
}

#u1958-2
{
	font-size: 15px;
	line-height: 18px;
	padding-right: 5px;
	padding-left: 5px;
	font-weight: 700;
}

#u1958-3,#u1958-5
{
	font-size: 14px;
	padding-right: 5px;
	padding-left: 5px;
	font-weight: 400;
	font-style: italic;
}

#u2513
{
	z-index: 2;
	width: 1194px;
	padding-bottom: 7px;
	left: -100px;
	margin-top: 430px;
}

#u2513_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 994px;
	left: -100px;
}

#u2514
{
	z-index: 3;
	width: 735px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 359px;
}

#pu2519
{
	width: 0.01px;
	position: relative;
}

#u2519
{
	z-index: 4;
	width: 730px;
	padding-bottom: 3px;
	margin-right: -10000px;
}

#u2517-6
{
	z-index: 25;
	width: 154px;
	min-height: 60px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 28px;
}

#u2517-6:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 60px;
	margin: 4px -10000px 0px 0px;
}

#u2520-8
{
	z-index: 17;
	width: 334px;
	min-height: 53px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 192px;
}

#u2516-4
{
	z-index: 9;
	width: 166px;
	min-height: 16px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 537px;
}

#u2516-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 29px -10000px 0px 0px;
}

#u2516-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 29px -10000px 0px 0px;
}

#u2518-4
{
	z-index: 13;
	width: 166px;
	min-height: 16px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 537px;
}

#u2518-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 12px -10000px 0px 0px;
}

#u2518-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 12px -10000px 0px 0px;
}

#u2515-4
{
	z-index: 5;
	width: 274px;
	min-height: 16px;
	margin-left: 461px;
}

body
{
	padding-top: 36px;
	padding-bottom: 135px;
}

#page .verticalspacer
{
	clear: both;
}

