.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 990px;
	min-height: 1464px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -26px;
}

#u547
{
	z-index: 137;
	width: 740px;
	margin-left: 263px;
	position: relative;
}

#u551
{
	z-index: 138;
	width: 740px;
	border-color: #000000;
	padding-bottom: 17px;
	position: relative;
	margin-right: -10000px;
	background: #057C05 url("../images/stars-and-dots-pattern-lime-green.jpg") no-repeat center center;
	background-size: cover !important;
}

#u548
{
	z-index: 139;
	width: 740px;
	position: relative;
	margin-right: -10000px;
	margin-top: 105px;
}

#u549
{
	z-index: 140;
	width: 740px;
	border-color: #000000;
	background-color: #494949;
	background-color: rgba(0, 0, 0, 0.71);
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(0, 0, 0, 0.71);
}

#u550-4
{
	z-index: 141;
	width: 675px;
	min-height: 28px;
	text-align: left;
	font-size: 28px;
	letter-spacing: 3px;
	line-height: 34px;
	color: #FFFFFF;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 30px;
}

#u2604
{
	z-index: 196;
	width: 109px;
	top: 174px;
	left: 50%;
	margin-left: -486px;
}

#u2521
{
	z-index: 197;
	width: 246px;
	top: 445px;
	left: 50%;
	margin-left: -501px;
}

#u2522
{
	z-index: 198;
	width: 245px;
	padding-bottom: 578px;
	top: 23px;
	left: 50%;
	margin-left: -501px;
}

#u2590
{
	z-index: 199;
	width: 245px;
	padding-bottom: 578px;
	top: 23px;
	left: 50%;
	margin-left: -501px;
}

#u2523
{
	z-index: 200;
	width: 248px;
	padding-bottom: 567px;
	top: 34px;
	left: 50%;
	margin-left: -501px;
}

#u2524
{
	z-index: 201;
	width: 246px;
	height: 137px;
	top: 464px;
	left: 50%;
	margin-left: -501px;
}

#u2525
{
	z-index: 202;
	width: 235px;
	top: 34px;
	left: 50%;
	margin-left: -488px;
}

#u2525_position_content
{
	margin-top: -18px;
	margin-bottom: 555px;
}

#u2526-8
{
	z-index: 203;
	width: 235px;
	min-height: 96px;
	top: 34px;
	left: 50%;
	margin-left: -488px;
}

#menuu2528
{
	z-index: 222;
	width: 218px;
	top: 205px;
	left: 50%;
	margin-left: -486px;
}

#u2569
{
	width: 218px;
}

#u2572
{
	width: 218px;
	min-height: 20px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u2572:hover
{
	margin: 0px -10000px 0px 0px;
}

#u2532
{
	width: 218px;
	min-height: 20px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u2572.MuseMenuActive,#u2532:hover
{
	margin: 0px -10000px 0px 0px;
}

#u2577
{
	width: 218px;
	min-height: 20px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u2532.MuseMenuActive,#u2577:hover
{
	margin: 0px -10000px 0px 0px;
}

#u2539
{
	width: 218px;
	min-height: 20px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u2577.MuseMenuActive,#u2539:hover
{
	margin: 0px -10000px 0px 0px;
}

#u2563
{
	width: 218px;
	min-height: 20px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u2539.MuseMenuActive,#u2563:hover
{
	margin: 0px -10000px 0px 0px;
}

#u2575-4,#u2533-4,#u2580-4,#u2540-4,#u2566-4
{
	width: 218px;
	min-height: 20px;
	margin-right: -10000px;
	top: 5px;
}

#u2586
{
	width: 218px;
	min-height: 20px;
	padding-bottom: 12px;
	margin-right: -10000px;
}

#u2563.MuseMenuActive,#u2586:hover
{
	margin: 0px -10000px 0px 0px;
}

#u2529,#u2576,#u2536,#u2562,#u2583,#u2543
{
	width: 218px;
	margin-top: 2px;
}

#u2544
{
	width: 218px;
	min-height: 20px;
	padding-bottom: 12px;
	margin-right: -10000px;
}

#u2586.MuseMenuActive,#u2544:hover
{
	margin: 0px -10000px 0px 0px;
}

#u2587-4,#u2547-4
{
	width: 218px;
	min-height: 20px;
	margin-right: -10000px;
	top: 6px;
}

#u2527-11
{
	z-index: 211;
	width: 215px;
	min-height: 78px;
	top: 493px;
	left: 50%;
	margin-left: -483px;
}

#u2591
{
	z-index: 265;
	width: 246px;
	margin-right: -10000px;
}

#u2593
{
	z-index: 266;
	width: 246px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u2592-4
{
	z-index: 267;
	width: 228px;
	min-height: 19px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 9px;
}

#u2603
{
	z-index: 271;
	width: 109px;
	margin-right: -10000px;
}

#u2601
{
	z-index: 272;
	width: 109px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u2544.MuseMenuActive,#u2601:hover
{
	margin: 0px -10000px 0px 0px;
}

#u2602-4
{
	z-index: 273;
	width: 87px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 11px;
}

#pu2057-3
{
	width: 0.01px;
	margin-left: 263px;
	margin-top: 5px;
	position: relative;
}

#u2057-3
{
	z-index: 145;
	width: 722px;
	min-height: 469px;
	border-color: #000000;
	background-color: #EFEFEF;
	position: relative;
	margin-right: -10000px;
}

#u1718
{
	z-index: 148;
	width: 337px;
	position: relative;
	margin-right: -10000px;
	margin-top: 307px;
	left: 365px;
}

#u1037
{
	z-index: 149;
	width: 337px;
	border-color: #000000;
	padding-bottom: 34px;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/rose-2020364_1280.jpg") no-repeat center center;
	background-size: cover !important;
}

#u1037:hover
{
	margin: 0px -10000px 0px 0px;
	background: #D0E4B2 url("../images/rose-2020364_1280.jpg") no-repeat center center;
	background-size: cover !important;
}

#u1717
{
	z-index: 150;
	width: 337px;
	border-color: #000000;
	background-color: #636363;
	background-color: rgba(0, 0, 0, 0.61);
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	-pie-background: rgba(0, 0, 0, 0.61);
}

#u1717:hover
{
	background-color: #66AF66;
	background-color: rgba(5, 124, 5, 0.61);
	margin: 38px -10000px 0px 0px;
	-pie-background: rgba(5, 124, 5, 0.61);
}

#u1039-6
{
	z-index: 151;
	width: 302px;
	min-height: 55px;
	color: #FFFFFF;
	font-family: cantarell, sans-serif;
	font-weight: 700;
	margin-bottom: -5px;
	position: relative;
	margin-right: -10000px;
}

#u1728
{
	z-index: 157;
	width: 337px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 20px;
}

#u1007
{
	z-index: 158;
	width: 337px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/kid-1077793_1280.jpg") no-repeat center bottom;
	background-size: cover !important;
}

#u1007:hover
{
	margin: 0px -10000px 0px 0px;
	background: #D0E4B2 url("../images/kid-1077793_1280.jpg") no-repeat center bottom;
	background-size: cover !important;
}

#u1007_position_content
{
	margin-top: 21px;
}

#u1725
{
	z-index: 159;
	width: 337px;
	border-color: #000000;
	background-color: #7F7F7F;
	background-color: rgba(0, 0, 0, 0.5);
	padding-bottom: 4px;
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.5);
}

#u1725:hover
{
	background-color: #82BD82;
	background-color: rgba(5, 124, 5, 0.5);
	margin: 0px;
	-pie-background: rgba(5, 124, 5, 0.5);
}

#u1006-6
{
	z-index: 160;
	width: 302px;
	min-height: 55px;
	color: #FFFFFF;
	font-family: cantarell, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u1006-2
{
	font-size: 28px;
	line-height: 34px;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 5px;
}

#u1726
{
	z-index: 166;
	width: 230px;
	border-color: #000000;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.72);
	-moz-border-radius: 0px 30px 0px 0px ;
	-webkit-border-radius: 0px 30px 0px 0px ;
	-khtml-border-radius: 0px 30px 0px 0px ;
	border-radius: 0px 30px 0px 0px ;
	padding-bottom: 3px;
	margin-top: 89px;
	position: relative;
	-pie-background: rgba(255, 255, 255, 0.72);
}

#u1005-6
{
	z-index: 167;
	width: 214px;
	min-height: 68px;
	text-align: left;
	font-size: 14px;
	color: #000000;
	font-family: cantarell, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u1005-2
{
	padding-right: 5px;
	padding-left: 5px;
	font-weight: 700;
}

#u1005-4
{
	padding-right: 5px;
	padding-left: 5px;
	font-weight: 400;
}

#u1876
{
	z-index: 173;
	width: 337px;
	position: relative;
	margin-right: -10000px;
	margin-top: 307px;
	left: 20px;
}

#u1879
{
	z-index: 174;
	width: 337px;
	border-color: #000000;
	padding-bottom: 34px;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/apple-256261_640.jpg") no-repeat left center;
	background-size: cover !important;
}

#u1879:hover
{
	margin: 0px -10000px 0px 0px;
	background: #D0E4B2 url("../images/apple-256261_640.jpg") no-repeat left center;
	background-size: cover !important;
}

#u1878
{
	z-index: 175;
	width: 337px;
	border-color: #000000;
	background-color: #636363;
	background-color: rgba(0, 0, 0, 0.61);
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	-pie-background: rgba(0, 0, 0, 0.61);
}

#u1878:hover
{
	background-color: #66AF66;
	background-color: rgba(5, 124, 5, 0.61);
	margin: 38px -10000px 0px 0px;
	-pie-background: rgba(5, 124, 5, 0.61);
}

#u1877-4
{
	z-index: 176;
	width: 302px;
	min-height: 55px;
	line-height: 36px;
	font-size: 30px;
	color: #FFFFFF;
	font-family: cantarell, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
}

#u2058
{
	z-index: 180;
	width: 337px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 365px;
}

#u2061
{
	z-index: 181;
	width: 337px;
	border-color: #000000;
	padding-bottom: 22px;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/fine-art-1845405_640.jpg") no-repeat center top;
	background-size: cover !important;
}

#u2061:hover
{
	margin: 0px -10000px 0px 0px;
	background: #D0E4B2 url("../images/fine-art-1845405_640.jpg") no-repeat center top;
	background-size: cover !important;
}

#u2060
{
	z-index: 182;
	width: 337px;
	border-color: #000000;
	background-color: #636363;
	background-color: rgba(0, 0, 0, 0.61);
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	-pie-background: rgba(0, 0, 0, 0.61);
}

#u2060:hover
{
	background-color: #66AF66;
	background-color: rgba(5, 124, 5, 0.61);
	margin: 36px -10000px 0px 0px;
	-pie-background: rgba(5, 124, 5, 0.61);
}

#u2059-4
{
	z-index: 183;
	width: 302px;
	min-height: 55px;
	line-height: 36px;
	font-size: 30px;
	color: #FFFFFF;
	font-family: cantarell, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u1877-2,#u2059-2
{
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 5px;
}

#u2062
{
	z-index: 187;
	width: 337px;
	position: relative;
	margin-right: -10000px;
	margin-top: 160px;
	left: 365px;
}

#u2065
{
	z-index: 188;
	width: 337px;
	border-color: #000000;
	padding-bottom: 34px;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/audio-1844798_1280.jpg") no-repeat center bottom;
	background-size: cover !important;
}

#u2065:hover
{
	margin: 0px -10000px 0px 0px;
	background: #D0E4B2 url("../images/audio-1844798_1280.jpg") no-repeat center bottom;
	background-size: cover !important;
}

#u2064
{
	z-index: 189;
	width: 337px;
	border-color: #000000;
	background-color: #636363;
	background-color: rgba(0, 0, 0, 0.61);
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	-pie-background: rgba(0, 0, 0, 0.61);
}

#u2064:hover
{
	background-color: #66AF66;
	background-color: rgba(5, 124, 5, 0.61);
	margin: 38px -10000px 0px 0px;
	-pie-background: rgba(5, 124, 5, 0.61);
}

#u2063-6
{
	z-index: 190;
	width: 302px;
	min-height: 55px;
	color: #FFFFFF;
	font-family: cantarell, sans-serif;
	font-weight: 700;
	margin-bottom: -5px;
	position: relative;
	margin-right: -10000px;
}

#u1039-2,#u2063-2
{
	font-size: 30px;
	line-height: 36px;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 5px;
}

#u1039-4,#u1006-4,#u2063-4
{
	font-size: 18px;
	line-height: 22px;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
}

#u1039-3,#u1006-3,#u2063-3
{
	font-weight: 400;
}

#pu2513
{
	width: 0.01px;
	left: -100px;
	margin-top: 483px;
	position: relative;
}

#u2513
{
	z-index: 2;
	width: 1190px;
	padding-bottom: 1px;
	margin-right: -10000px;
}

#u2513_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 990px;
	left: -100px;
	padding-top: 51px;
	padding-bottom: 47px;
}

#u2520-4
{
	z-index: 74;
	width: 286px;
	min-height: 20px;
	left: 388px;
}

#u3133
{
	z-index: 111;
	width: 306px;
	padding-bottom: 0px;
	left: 388px;
	margin-top: 47px;
}

#u3099
{
	z-index: 126;
	width: 284px;
}

#u3091
{
	z-index: 135;
	width: 49px;
	margin-right: -10000px;
	margin-top: 1px;
}

#u3087-8
{
	z-index: 127;
	width: 225px;
	margin-right: -10000px;
	left: 59px;
}

#u3098
{
	z-index: 112;
	width: 161px;
	margin-left: 7px;
	margin-top: 44px;
}

#u3093
{
	z-index: 117;
	width: 30px;
	margin-right: -10000px;
}

#u3086-4
{
	z-index: 113;
	width: 131px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 30px;
}

#u3100
{
	z-index: 119;
	width: 299px;
	margin-left: 7px;
	margin-top: 14px;
}

#u3089
{
	z-index: 124;
	width: 40px;
	margin-right: -10000px;
}

#u3088-4
{
	z-index: 120;
	width: 248px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 51px;
}

#widgetu3101
{
	z-index: 3;
	width: 0.01px;
	height: 311px;
	margin-right: -10000px;
	margin-top: 41px;
	left: 719px;
}

#widgetu3128
{
	z-index: 4;
	width: 340px;
	height: 46px;
	margin-right: -10000px;
	left: -1px;
}

#u2601:active,#widgetu3128.fld-err-st
{
	margin: 0px -10000px 0px 0px;
}

#u3130-4
{
	z-index: 5;
	width: 200px;
	min-height: 20px;
	margin-right: -10000px;
}

#u3131-4
{
	z-index: 9;
	width: 328px;
	min-height: 14px;
	padding: 6px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-top: 19px;
	left: -1px;
}

#widgetu3128:hover #u3131-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu3128.focus-st #u3131-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu3107
{
	z-index: 13;
	width: 340px;
	height: 46px;
	margin-right: -10000px;
	margin-top: 53px;
	left: -1px;
}

#widgetu3107.fld-err-st
{
	margin: 53px -10000px 0px 0px;
}

#u3110-4
{
	z-index: 14;
	width: 200px;
	min-height: 20px;
	margin-right: -10000px;
}

#u3109-4
{
	z-index: 18;
	width: 328px;
	min-height: 14px;
	padding: 6px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-top: 19px;
	left: -1px;
}

#widgetu3128.fld-err-st #u3131-4,#widgetu3107:hover #u3109-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu3107.focus-st #u3109-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#u3125-4
{
	z-index: 22;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 286px;
	left: 140px;
}

#u3126-4
{
	z-index: 26;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 286px;
	left: 140px;
}

#u3119-4
{
	z-index: 30;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 286px;
	left: 140px;
}

#widgetu3101.frm-sub-st #u3125-4,#widgetu3101.frm-subm-err-st #u3126-4,#widgetu3101.frm-subm-ok-st #u3119-4
{
	min-height: 25px;
}

#u3127-17
{
	z-index: 34;
	min-height: 31px;
	width: 131px;
	margin-right: -10000px;
	margin-top: 264px;
	left: 210px;
}

#widgetu3120
{
	z-index: 51;
	width: 340px;
	height: 100px;
	margin-right: -10000px;
	margin-top: 158px;
	left: -1px;
}

#widgetu3120.fld-err-st
{
	margin: 158px -10000px 0px 0px;
}

#u3124-4
{
	z-index: 52;
	width: 200px;
	min-height: 20px;
	margin-right: -10000px;
}

#u3122-4
{
	z-index: 56;
	width: 328px;
	min-height: 68px;
	padding: 6px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-top: 19px;
	left: -1px;
}

#widgetu3120:hover #u3122-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu3120.focus-st #u3122-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu3120.fld-err-st #u3122-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu3120_input,#widgetu3120_prompt
{
	width: 328px;
	min-height: 68px;
	padding: 6px;
}

#widgetu3102
{
	z-index: 60;
	width: 340px;
	height: 46px;
	margin-right: -10000px;
	margin-top: 105px;
	left: -1px;
}

#widgetu3102.fld-err-st
{
	margin: 105px -10000px 0px 0px;
}

#u3103-4
{
	z-index: 61;
	width: 200px;
	min-height: 20px;
	margin-right: -10000px;
}

#widgetu3128.fld-err-st #u3130-4,#widgetu3107.fld-err-st #u3110-4,#widgetu3120.fld-err-st #u3124-4,#widgetu3102.fld-err-st #u3103-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u3105-4
{
	z-index: 65;
	width: 328px;
	min-height: 14px;
	padding: 6px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-top: 19px;
	left: -1px;
}

#widgetu3107.fld-err-st #u3109-4,#widgetu3102:hover #u3105-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu3102.focus-st #u3105-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu3102.fld-err-st #u3105-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu3128_input,#widgetu3128_prompt,#widgetu3107_input,#widgetu3107_prompt,#widgetu3102_input,#widgetu3102_prompt
{
	width: 328px;
	min-height: 14px;
	padding: 6px;
}

#widgetu3128:hover #widgetu3128_input,#widgetu3128.focus-st #widgetu3128_input,#widgetu3128.fld-err-st #widgetu3128_input,#widgetu3128:hover #widgetu3128_prompt,#widgetu3128.focus-st #widgetu3128_prompt,#widgetu3128.fld-err-st #widgetu3128_prompt,#widgetu3107:hover #widgetu3107_input,#widgetu3107.focus-st #widgetu3107_input,#widgetu3107.fld-err-st #widgetu3107_input,#widgetu3107:hover #widgetu3107_prompt,#widgetu3107.focus-st #widgetu3107_prompt,#widgetu3107.fld-err-st #widgetu3107_prompt,#widgetu3120:hover #widgetu3120_input,#widgetu3120.focus-st #widgetu3120_input,#widgetu3120.fld-err-st #widgetu3120_input,#widgetu3120:hover #widgetu3120_prompt,#widgetu3120.focus-st #widgetu3120_prompt,#widgetu3120.fld-err-st #widgetu3120_prompt,#widgetu3102:hover #widgetu3102_input,#widgetu3102.focus-st #widgetu3102_input,#widgetu3102.fld-err-st #widgetu3102_input,#widgetu3102:hover #widgetu3102_prompt,#widgetu3102.focus-st #widgetu3102_prompt,#widgetu3102.fld-err-st #widgetu3102_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#u2517-4
{
	z-index: 78;
	width: 331px;
	min-height: 60px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 388px;
}

#u2517-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 60px;
	margin: 11px -10000px 0px 0px;
}

#pu3084
{
	width: 0.01px;
	left: -100px;
	top: -8px;
	margin-bottom: -8px;
	position: relative;
}

#u3084
{
	z-index: 69;
	width: 1190px;
	padding-bottom: 2px;
	margin-right: -10000px;
}

#u3084_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 990px;
	left: -100px;
}

#u3042-4
{
	z-index: 82;
	width: 268px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 388px;
}

#menuu3043
{
	z-index: 86;
	width: 393px;
	margin-right: -10000px;
	left: 708px;
}

#u3077
{
	width: 96px;
	min-height: 34px;
	margin-right: -10000px;
}

#u3078
{
	width: 96px;
	padding-bottom: 17px;
}

#u3078:hover
{
	margin: 0px;
}

#u3078:active
{
	margin: 0px;
}

#u3079-4
{
	width: 96px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u3078:hover #u3079-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u3078:active #u3079-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u3044
{
	width: 97px;
	min-height: 34px;
	margin-right: -10000px;
	left: 98px;
}

#u3045
{
	width: 97px;
	padding-bottom: 17px;
}

#u3078.MuseMenuActive,#u3045:active
{
	margin: 0px;
}

#u3047-4
{
	width: 97px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u3078.MuseMenuActive #u3079-4,#u3045:hover #u3047-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u3045:active #u3047-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u3070
{
	width: 97px;
	min-height: 34px;
	margin-right: -10000px;
	left: 197px;
}

#u3071
{
	width: 97px;
	padding-bottom: 17px;
}

#u3045.MuseMenuActive,#u3071:active
{
	margin: 0px;
}

#u3074-4
{
	width: 97px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u3045.MuseMenuActive #u3047-4,#u3071:hover #u3074-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u3071:active #u3074-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u3063
{
	width: 97px;
	min-height: 34px;
	margin-right: -10000px;
	left: 296px;
}

#u3064
{
	width: 97px;
	padding-bottom: 17px;
}

#u3071.MuseMenuActive,#u3064:active
{
	margin: 0px;
}

#u3064.MuseMenuActive
{
	margin: 0px;
}

#u3067-4
{
	width: 97px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u3071.MuseMenuActive #u3074-4,#u3064:hover #u3067-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u3064:active #u3067-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u3064.MuseMenuActive #u3067-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2515-4
{
	z-index: 70;
	width: 274px;
	min-height: 25px;
	margin-left: 699px;
	top: -2px;
	margin-bottom: -2px;
}

body
{
	padding-top: 36px;
	padding-bottom: 31px;
}

#page .verticalspacer
{
	clear: both;
}

